<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .align{
        width: 1000px;
        padding: 24px;
        margin: 72px auto 68px;
        background: #fff;
        position: relative;
        box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
        font-family: helvetica;
        }
    </style>
</head>
<body>
<body style="background-color:#f0f0f1">

    <div class="align">
        <a class="btn btn-primary" href="{% url 'profile' %}" role="button">Back To Home</a>
        <h3 align="center" style="font-family: cursive;">Create Test Link</h3><br>
{% if messages %}

    {% for message in messages %}
    {% if message.tags == 'success' %}
<!--    <div class="alert alert-success" role="alert" style="width:50;">-->
<!--    Added Question Successfully!-->
<!--    </div>-->
        {{message}}
    {% elif message.tags == 'error'%}
<!--    <div class="alert alert-danger" role="alert">-->
<!--      Invalid Data!-->
<!--    </div>-->
        {{message}}
    {% endif %}
    {% endfor %}

{% endif %}
<form  method="POST">
    {% csrf_token %}
    <table>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity" placeholder="Choose..">{{form.category_name.label_tag}}</label>
                  {{form.category_name}}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">{{form.no_of_questions.label_tag}}</label>
                  {{form.no_of_questions}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="id_question">{{form.no_of_easy_questions.label_tag}}</label>
                  {{form.no_of_easy_questions}}
                </div>
              </div>


        <div class="form-row">

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">{{form.no_of_medium_questions.label_tag}}</label>
                  {{form.no_of_medium_questions}}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">{{form.no_of_hard_questions.label_tag}}</label>
                  {{form.no_of_hard_questions}}
                </div>

                <div class="form-group col-md-6">
                  <label for="inputCity">{{form.date_of_exam.label_tag}}</label>
                  {{form.date_of_exam}}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">{{form.start_time.label_tag}}</label>
                  {{form.start_time}}
                </div>
              </div>
                <div class="form-group col-md-6 ">
                  <label for="id_question">{{form.end_time.label_tag}}</label>
                  {{form.end_time}}
                </div>
            </div>


    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
          </div>

</body>

</html>