<html>
{% extends 'base.html' %}
{% block content %}
<head>
    <title>{{ name }}</title>
</head>
<body>
<form action="#" method="POST">
    {% csrf_token %}
    To : <input type="text" name="email" required> <br><br>


    URL : <textarea name="content" required>Hi All,

 Good Morning!



Please find the below Assessment details and start assessment at 10:30 AM without fail.



Topics: Django

Exam Type: Objective

No of Questions: 100

Duration: 120 mins.



 http://127.0.0.1:8000,/


 </textarea><br><br>

<button>Submit</button>



</form>



</body>
{% endblock %}

</html>