<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .align{
width: 1000px;
padding: 24px;
margin: 72px auto 68px;
background: #fff;
position: relative;
box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
font-family: helvetica;
 opacity:0.9;
}
    </style>

</head >

<div class="align">
<h4>Guidelines and instructions for the Candidates for Online Examination</h4>
    <ul>
  <li>Online examination is being conducted for evaluating the students’ performance for August
    – 2020 Term-End Examination (TEE) for various courses.</li>
<li>It is an Online Examination system, fully computerized, user friendly having advanced
    security features making it fair, transparent and standardized.</li>
<li>The term end examination will be conducted in an online proctored mode. Candidate can
take the test from the safe and secure environment of his/her home, with a
desktop/laptop/smartphone (with a webcam) and an internet connection (un-interrupted
internet speed is desirable).</li>
<li>Candidates are requested to take the test honestly, ethically, and should follow all the
    instructions.</li></ul>
<h2>Basic Instructions for Online Examinations:</h2>
    <h5>A. General information:</h5>
    <ul>
    <li>1. The examination will comprise of Objective type Multiple Choice Questions (MCQs)</li>
    <li>2. All questions are compulsory and each carries One mark.</li>
<li>3. The total number of questions, duration of examination, will be different based on</li>
    <li>the course, the detail is available on your screen.</li>
    <li>4. The Subjects or topics covered in the exam will be as per the Syllabus.</li>
    <li>5. There will be NO NEGATIVE MARKING for the wrong answers.</li>
    </ul>
<!--    <h5>B. Information & Instructions:</h5>-->
<!--    <ul>-->
<!--<li>1. The examination does not require using any paper, pen, pencil and calculator.</li>-->
<!--    <li>2. Every student will take the examination on a Laptop/Desktop/Smart Phone</li>-->
<!--<li>3. On computer screen every student will be given objective type type Multiple Choice-->
<!--    Questions (MCQs).</li>-->
<!--<li>4. Each student will get questions and answers in different order selected randomly-->
<!--    from a fixed Question Databank.</li>-->
<!--<li>5. The students just need to click on the Right Choice / Correct option from the-->
<!--multiple choices /options given with each question. For Multiple Choice Questions,-->
<!--each question has four options, and the candidate has to click the appropriate-->
<!--    option.</li></ul>-->
<!--<h3>The sequence of steps to be followed by each examinee for appearing in Examination-->
<!--    using Online Examination Portal will be as follows:</h3>-->
<!--    <ul><li>a. The students will have to enter their Enrolment Number as Username and Password (which has been sent to their registered mobile number and email-id).</li>-->
<!--        <li>b. The student’s details appear on the screen, which will be verified by the student.</li>-->
<!--        <li>c. The student will get Instructions to guide through the test.</li>-->
<!--        <li>d. The Time of the examination begins only when the ‘Start Test’ button is pressed.</li>-->
<!--<li>e. The student proceeds answering the questions one by one by clicking on the small-->
<!--    grey circle next to the chosen answer.</li>-->
<!--<li>f. The examinee can move to First, Last, Previous, Next and unanswered questions by-->
<!--clicking on the buttons with respective labels displayed on screen throughout the-->
<!--    test.</li>-->
<!--<li>g. The answers can be changed at any time during the test and are saved-->
<!--    automatically.</li>-->
<!--        <li>h. It is possible to Review the answered as well as the unanswered questions.</li>-->
<!--        <li>i. The Time remaining is shown in the Right Top Corner of the screen.</li>-->
<!--<li>j. The system automatically shuts down when the time limit is over OR alternatively if-->
<!--examinee finishes the exam before time he can quit by pressing the ‘End Test’-->
<!--button. The students don’t click the “END TEST” Button until the student want to-->
<!--    quit from Examination</li></ul>-->
<!--        <h3>Extra Exam Attempt Will not be provided if,</h3>-->
<!--    <ul>-->
<!--        <li>1. Student fails to appear for exam within specified timings.</li>-->
<!--        <li>2. Student does not appear the papers.</li>-->
<!--        <li>3. Student appears for exam late / face lack of time.</li>-->
<!--        <li>4. Student ignores instructions and rules.</li>-->
<!--        <li>5. Student does not submit the exam properly.</li>-->
<!--<li>6. Student face internet of power failure problems.-->
<!--    Important: Do not click the “End Test” button unless you want to leave early</li> </ul>-->
    <div class="center">
  <button class="btn btn-primary">Start Your Test Here..</button>
</div>
    </div>
<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0.9;
}
</style>


</body>
{% endblock %}
</html>