<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
<!--  <style>  body-->
<!--        {-->
<!--        background-color:#222D32;-->

<!--            background-repeat:no-repeat;-->
<!--            background-size: 1600px;-->

<!--       }-->
<!--       </style>-->
</head>

<body style="background-color: #222D32;"><br>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="btn btn-primary" href="{% url 'login' %}">Logout</a>
      </li>
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    </ul>
<div class="container-fluid">
<h1 style="color:white">Profile</h1>
<h3 style="color:white">Welcome {{name}}</h3>
{% if messages %}
    {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}"  {% endif %}>{{message}}</small>
    {% endfor %}
{% endif %}
<ul class="nav">
  <li class="nav-item">
    <a class="btn btn-primary btn-lg" href="{% url 'link' %}">Create Test Link</a>
  </li>&nbsp&nbsp&nbsp
  <li class="nav-item">
    <a class="btn btn-secondary btn-lg" href="{% url 'email_notification' %}">Conduct Test</a>
  </li>&nbsp&nbsp&nbsp
  <li class="nav-item">
    <a class="btn btn-secondary btn-lg" href="{% url 'ques' %}">Add Questions</a>
  </li>
</ul>
<br>

        <h3 style="text-align:center;background-color:white;">Live Test Links</h3>
<table class="table table-bordered" style="background-color:#1A2226;color:white;">
  <thead>
    <tr>
      <th scope="col">Test_ID</th>
      <th scope="col">Category_Name</th>
      <th scope="col">No_Of_Questions</th>
      <th scope="col">Easy</th>
        <th scope="col">Medium</th>
      <th scope="col">Hard</th>
      <th scope="col">Date_Of_Exam</th>
      <th scope="col">Start_Time</th>
        <th scope="col">End_Time</th>
      <th scope="col">Test_Link</th>


    </tr>
  </thead>
  <tbody>
    {% for obj in objects %}
    <tr>

      <th scope="row">{{obj.test_id}}</th>
      <td>{{obj.category_name}}</td>
      <td>{{obj.no_of_questions}}</td>
      <td>{{obj.no_of_easy_questions}}</td>
      <td>{{obj.no_of_medium_questions}}</td>
      <td>{{obj.no_of_hard_questions}}</td>
      <td>{{obj.date_of_exam}}</td>
      <td>{{obj.start_time}}</td>
      <td>{{obj.end_time}}</td>
        <td>{{obj.test_link}}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>
  <br>
<hr style="height:1px;border-width:1;background-color:gray">
  <br>

  <h3 style="text-align:center;background-color:white;">History</h3>
  <table class="table table-bordered" style="background-color:#1A2226;color:white;">
        <thead>
    <tr>

      <th scope="col">Test_ID</th>
      <th scope="col">Category_ID</th>
      <th scope="col">No_Of_Questions</th>
      <th scope="col">Easy</th>
        <th scope="col">Medium</th>
      <th scope="col">Hard</th>
      <th scope="col">Date_Of_Exam</th>
      <th scope="col">Start_Time</th>
        <th scope="col">End_Time</th>
      <th scope="col">Test_Link</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">DN2021052901</th>
      <td>DN</td>
      <td>10</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>2021-05-29</td>
      <td>11:00</td>
      <td>01:00</td>
      <td>https://www.w3schools.com/html/html_head.asp</td>

    </tr>
    <tr>
      <th scope="row">IDM2021081801</th>
      <td>IDM</td>
      <td>10</td>
      <td>3</td>
      <td>3</td>
      <td>4</td>
      <td>2021-08-18</td>
      <td>10:00</td>
      <td>12:00</td>
      <td>https://www.w3schools.com/html/html_head.asp</td>

    </tr>
    <tr>
     <th scope="row">PY2021090101</th>
      <td>PY</td>
      <td>10</td>
      <td>4</td>
      <td>3</td>
      <td>3</td>
      <td>2021-08-01</td>
      <td>01:00</td>
      <td>03:00</td>
      <td>https://www.w3schools.com/html/html_head.asp</td>

    </tr>
  </tbody>
</table>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>