<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        .align{
        width: 1000px;
        padding: 24px;
        margin: 72px auto 68px;
        background: #fff;
        position: relative;
        box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
        font-family: helvetica;
        }
    </style>
</head>

<body style="background-color:#f0f0f1">
    <div class="align">
        <h3 align="center" style="font-family: cursive;">Add Questions</h3>
{% if messages %}
        {% for msg in messages%}
        <span>{{msg}}</span>
        {% endfor %}
        {% endif %}
<form method="POST">
    {% csrf_token %}
    <table>
            <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="id_question">{{form.question_id.label_tag}}</label>
                  {{form.question_id}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="id_question">{{form.question.label_tag}}</label>
                  {{form.question}}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity" placeholder="Choose..">{{form.category_names.label_tag}}</label>
                  {{form.category_names}}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">{{form.difficulty_names.label_tag}}</label>
                  {{form.difficulty_names}}
                </div>
              </div>

        <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">{{form1.option_id.label_tag}}</label>
                  {{form1.option_id}}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">{{form1.question_id.label_tag}}</label>
                  {{form1.question_id}}
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">{{form1.option1.label_tag}}</label>
                  {{form1.option1}}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">{{form1.option2.label_tag}}</label>
                  {{form1.option2}}
                </div>
              </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">{{form1.option3.label_tag}}</label>
                  {{form1.option3}}
                </div>
                <div class="form-group col-md-6">
                  <label for="inputState">{{form1.option4.label_tag}}</label>
                  {{form1.option4}}
                </div>
              </div>
                <div class="form-group">
                  <label for="id_question">{{form1.correct_option.label_tag}}</label>
                  {{form1.correct_option}}
                </div>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
          </div>

</body>
</html>